interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/podcasts
  response:
    body:
      string: '{"data":[{"id":58021,"title":"Les Grosses T\u00eates","description":"Du
        lundi au vendredi de 15h30 \u00e0 18h, retrouvez Laurent Ruquier, chef d''orchestre
        de l''\u00e9mission. Entour\u00e9 de ses fid\u00e8les Grosses T\u00eates,
        il imprime sa marque \u00e0 ce programme culte de la radio tout en restant
        fid\u00e8le \u00e0 ses fondamentaux.","available":true,"fans":25049,"link":"https:\/\/www.deezer.com\/show\/58021","share":"https:\/\/www.deezer.com\/show\/58021?utm_source=deezer&utm_content=show-58021&utm_term=0_1643316582&utm_medium=web","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/1000x1000-000000-80-0-0.jpg","type":"podcast"},{"id":61092,"title":"Hondelatte
        raconte - Christophe Hondelatte","description":"Conteur hors pair, Christophe
        Hondelatte tient les auditeurs en haleine avec ses r\u00e9cits cisel\u00e9s
        et captivants. Faits divers, parcours singuliers et portraits de personnalit\u00e9s...
        Il remet en perspective et raconte les histoires qui ont fascin\u00e9 les
        Fran\u00e7ais avant de les diss\u00e9quer en compagnie de ses invit\u00e9s.","available":true,"fans":2[...]
